<div class="orderBox">
    <h2>Category</h2>
    <div class="searchBar">
        <a href="/dashboard/createCategorie">
            <button>Add new category</button>
        </a>
    </div>
    <div class="orderlist">
        <%- include(categorieList) %>
    </div>
</div>