<form action="/newStore" method="post">
    <div class="input_container">
        <label for="name">Store name:</label>
        <input type="text" id="name" name="name" required>
    </div>
   
    <input type="submit" value="Submit">
</form>