<div class="chart">
    <h2>
        Orders and Visits
    </h2>
    <canvas class="canvas" id="ordersVisitsChart"></canvas>
</div>


<script>
    function getDateLabels(count) {
        const labels = [];
        const currentDate = new Date();
        for (let i = 0; i < count; i++) {
            const month = currentDate.toLocaleString('default', { month: 'long' });
            const day = currentDate.getDate();
            const label = `${month} ${day}`; // Combine month and day
            labels.unshift(label); // Add the label to the beginning of the array
            currentDate.setDate(currentDate.getDate() - 1); // Move to the previous day
        }
        return labels;
    }

    const ordersVisitsChart = document.getElementById('ordersVisitsChart');
    new Chart(ordersVisitsChart, {
        type: 'line',
        data: {
            labels: getDateLabels(7),
            datasets: [{
                label: '<%- data.orders.name %>',
                data: [80, 59, 80, 81, 6, 50, 20],
                fill: false,
                tension: 0.1
            }, {
                label: '<%- data.customers.name %>',
                data: [50, 19, 88, 10, 65, 65, 82],
                fill: false,
                tension: 0.1
            }, {
                label: '<%- data.visits.name %>',
                data: [12, 9, 8, 1, 6, 5, 2],
                fill: false,
                tension: 0.1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });




</script>