<nav class="sidebar">
    <header>
        <span class="image">
            <img src="/admin/img/favicon.png" alt="Logo">
        </span>

        <div class="logo-text hide">
            <span class="name ">Panadola</span>
            <span class="profession ">E-food platform</span>
        </div>
        <span class="material-symbols-outlined toggle">
            chevron_right
        </span>
    </header>
    <div class="menu-bar">
        <div class="menu">

            <div class="input_container search-box">
                <span class="material-symbols-outlined icon">
                    search
                </span>
                <input type="text" placeholder="Search...">
            </div>
            <ul>
                <li>
                    <a href="/dashboard">
                        <span class="material-symbols-outlined">
                            home
                        </span>
                        <p class="hide">Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/analytics">
                        <span class="material-symbols-outlined">
                            monitoring
                        </span>
                        <p class="hide">Analytic</p>
                    </a>
                </li>
                <li class="dropdown">
                    <a>
                        <span class="material-symbols-outlined">
                            list_alt
                        </span>
                        <p class="hide">Orders</p>
                        <span class="material-symbols-outlined hide expand_more">
                            expand_more
                        </span>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="/dashboard/orders">
                                <span class="material-symbols-outlined">
                                    list_alt
                                </span>
                                <p class="hide">All orders</p>
                            </a>
                        </li>
                        <li>
                            <a href="/dashboard">
                                <span class="material-symbols-outlined">
                                    list_alt_add
                                </span>
                                <p class="hide">New orders</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a>
                        
                        <span class="material-symbols-outlined">
                            restaurant
                        </span>
                        <p class="hide">Menu</p>
                        <span class="material-symbols-outlined hide expand_more">
                            expand_more
                        </span>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="/dashboard/menu">
                                <span class="material-symbols-outlined">
                                    menu_book
                                </span>
                                <p class="hide">Menu</p>
                            </a>
                        </li>
                        <li>
                            <a href="/dashboard/addProduct">
                                <span class="material-symbols-outlined">
                                    restaurant_menu
                                </span>
                                <p class="hide">new dishes</p>
                            </a>
                        </li>
                        <li>
                            <a href="/dashboard/categories">
                                <span class="material-symbols-outlined">
                                    widgets
                                </span>
                                <p class="hide">Category</p>
                            </a>
                        </li>
                        <li>
                            <a href="/dashboard">
                                <span class="material-symbols-outlined">
                                    reviews
                                </span>
                                <p class="hide">Reviews</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a>
                        <span class="material-symbols-outlined">
                            confirmation_number
                        </span>
                        <p class="hide">Coupons</p>
                    </a>                     
                </li>
                <li class="dropdown">
                    <a>
                        <span class="material-symbols-outlined">
                            group
                        </span>
                        <p class="hide">Consumer</p>
                        <span class="material-symbols-outlined hide expand_more">
                            expand_more
                        </span>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="/dashboard/orders">
                                <span class="material-symbols-outlined">
                                    groups
                                </span>
                                <p class="hide">All consumer</p>
                            </a>
                        </li>
                        <li>
                            <a href="/dashboard">
                                <span class="material-symbols-outlined">
                                    person_add
                                </span>
                                <p class="hide">New consumer</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a>
                        <span class="material-symbols-outlined">
                            local_shipping
                        </span>
                        <p class="hide">Delivery</p>
                        <span class="material-symbols-outlined hide expand_more">
                            expand_more
                        </span>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="/dashboard/orders">
                                <span class="material-symbols-outlined">
                                    local_shipping
                                </span>
                                <p class="hide">All delivery</p>
                            </a>
                        </li>
                        <li>
                            <a href="/dashboard">
                            <span class="material-symbols-outlined">
                                add_circle
                            </span>
                                <p class="hide">New delivery</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li >
                    <a>
                        <span class="material-symbols-outlined">
                            storefront
                        </span>
                        <p class="hide">Store</p>
                        
                    </a>
                   
                </li>
                <li class="mode">
                        <span class="material-symbols-outlined moon ">
                            dark_mode
                        </span>
                        <span class="material-symbols-outlined sun ">
                            light_mode
                        </span>
                    <p class="mode-text hide">Dark mode</p>
                
                </li>
            </ul>
        </div>
         
    </div>
</nav>