<div class="orderBox">
    <div class="input-wrapper">
        <input type="text" placeholder="Input text">
        <span class="material-symbols-outlined icon">
            search
        </span>
    </div>

</div>