<div class="row justify-content-center align-items-center w-75">
    <h1>Forgot Password</h1>
    <p class="text-muted">Recover your password</p>
    <form method="POST" action="getpassword">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Your email address" required>
        </div>
        <p>Remember your password? <a href="signin" class="text-primary"
                style="text-decoration: none;color: inherit;"><strong>Sign in</strong></a></p>
        <div class="d-flex justify-content-end mb-4">
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </div>

        <div class="mt-10 pt-2 text-center">
            <div class="signin-other-title">
                <h5 class="fs-13 mb-4 title">Sign In with</h5>
            </div>
            <div class="pt-2 hstack gap-2 justify-content-center">
                <button type="button" class="btn btn-soft-primary btn-icon"><i
                        class="ri-facebook-fill fs-16"></i></button>
                <button type="button" class="btn btn-soft-danger btn-icon"><i class="ri-google-fill fs-16"></i></button>
                <button type="button" class="btn btn-soft-dark btn-icon"><i class="ri-github-fill fs-16"></i></button>
                <button type="button" class="btn btn-soft-info btn-icon"><i class="ri-twitter-fill fs-16"></i></button>
            </div>
        </div>

    </form>
</div>