<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="/img/favicon.png" alt="Logo">
            </span>

            <div class="text logo-text">
                <span class="name">Panadola</span>
                <span class="profession">E-food platform</span>
            </div>
        </div>

        <span class="material-symbols-outlined toggle">
            chevron_right
        </span>
    </header>

    <div class="menu-bar">
        <div class="menu">

            <li class="search-box">
                <span class="material-symbols-outlined icon">
                    search
                </span>
                <input type="text" placeholder="Search...">
            </li>

            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="/dashboard">
                        <span class="material-symbols-outlined icon">
                            home
                        </span>
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/dashboard/analytics">
                        <span class="material-symbols-outlined icon">
                            donut_small
                        </span>
                        <span class="text nav-text">Analytics</span>
                    </a>
                </li>
                <!--------------------------------------------------------------------------------------------------------------  -->

                <li class="nav-item">
                    <a href="/dashboard/orders">
                        <span class="material-symbols-outlined icon">
                            box
                        </span>
                        <span class="text nav-text">Orders</span>
                    </a>

                    <ul class="feat-show">
                        <li><a href="#">Pages</a></li>
                        <li><a href="#">Elements</a></li>
                    </ul>
                </li>




                <!--------------------------------------------------------------------------------------------------------------  -->

                <li class="nav-item">
                    <a href="/dashboard/addProduct">
                        <span class="material-symbols-outlined icon">
                            box_add
                        </span>
                        <span class="text nav-text">products</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#">
                        <span class="material-symbols-outlined icon">
                            notifications
                        </span>
                        <span class="text nav-text">Notifications</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#">
                        <span class="material-symbols-outlined icon">
                            account_balance_wallet
                        </span>
                        <span class="text nav-text">Wallets</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="bottom-content">
            <li class="">
                <a href="#">
                    <span class="material-symbols-outlined icon">
                        logout
                    </span>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>

            <li class="mode">
                <div class="sun-moon">
                    <span class="material-symbols-outlined moon icon">
                        dark_mode
                    </span>
                    <span class="material-symbols-outlined sun icon">
                        light_mode
                    </span>
                </div>
                <span class="mode-text text">Dark mode</span>

                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>
</nav>